<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">文章 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">随笔</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更多操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">修改头像</a></li>
                            <li><a href="#">后台管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">重金求子</h3>
                </div>
                <div class="panel-body">
                    请联系:1383838383
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">在线直播</h3>
                </div>
                <div class="panel-body">
                    赶紧点击
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">百万大奖</h3>
                </div>
                <div class="panel-body">
                    点击就送
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for article in article_list %}
                <h4 class="media-heading"><a href="{{ article.blog.userinfo }}/article/{{ article.pk }}">{{ article.title }}</a></h4>
                <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="" height="60">
                </a>
              </div>
              <div class="media-body">
                {{ article.desc }}
              </div>
                {#凌逆战 发布于 2019-09-01 14:24 评论(0)阅读(7)#}
                <span><a href="#">{{ article.category.blog.userinfo.username }}</a></span>
                <span>发布于{{ article.create_time|date:'Y-m-d' }}</span>
                <span><span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_num }})</span>
                <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_num }})</span>
            </div>
                <hr>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">重金求子</h3>
                </div>
                <div class="panel-body">
                    请联系:1383838383
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">在线直播</h3>
                </div>
                <div class="panel-body">
                    赶紧点击
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">百万大奖</h3>
                </div>
                <div class="panel-body">
                    点击就送
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>